.App {
    text-align: center;
}

.landing-page-signup-btn {
    float: left;
    width: fit-content;
    block-size: fit-content;
}

.landing-page-login-btn {
    float: right;
    width: fit-content;
    block-size: fit-content;

}

.cat-card {
    height: 100px;
    text-align: center;
    margin: 10px;
}

.page-title {
    margin: 10px;
}

.cat-card-text {
    margin: auto;
}
