html {
    background: #FF8DFF;
    background: -moz-radial-gradient(center, #FF8DFF 0%, #75CBFC 100%);
    background: -webkit-radial-gradient(center, #FF8DFF 0%, #75CBFC 100%);
    background: radial-gradient(ellipse at center, #FF8DFF 0%, #75CBFC 100%);
}

.App {
    text-align: center;
    /* background-color: rgb(246, 246, 242); */

}

.landing-page-signup-btn {
    width: fit-content;
    block-size: fit-content;
}

.landing-page-login-btn {
    width: fit-content;
    block-size: fit-content;

}

.cat-card {
    height: 100px;
    text-align: center;
    margin: 10px;
    display: table-cell;
    vertical-align: middle;
    line-height: 100px;
}

.page-title {
    margin: 10px;
}

.level-card {
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin: 10px;
}

.level-row {
    padding: 10px;
}

.my-scoreboard-container {
    block-size: fit-content;
    width: 50%;
    float: right;
}

.my-scoreboard-title {
    padding: 10px;
}

.navbar-container {
    margin: 20px;
}

.timer {
    width: fit-content;
    float: right;
    font-size: xx-large;
    background-color: lightblue;
}

.game-question {
    float: left;
}

.btn {
    margin: 5px;
}

.errorItem {
    width: fit-content;
    text-align: center;
}


