.App {
    text-align: center;
}

.landing-page-signup-btn {
    float: left;
    width: fit-content;
    block-size: fit-content;
}

.landing-page-login-btn {
    float: right;
    width: fit-content;
    block-size: fit-content;

}
